<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
<ion-menu [swipeGesture]="isSwipeEnabled" contentId="content">
<ion-header>
  <ion-toolbar>
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath === p.url">
            {{p.title}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
</ion-content>
</ion-menu>
<ion-router-outlet id="content"></ion-router-outlet>

      <ion-header>
          <ion-toolbar>
              <ion-buttons slot="start">
                  <ion-menu-button>
                  </ion-menu-button>
                </ion-buttons>
                <ion-title>{{ drink.name }}</ion-title>
          </ion-toolbar>
        </ion-header>
    
    <ion-badge></ion-badge>
    <div class="badge-container">
      <ion-badge>{{ drink.isAlcoholic ? 'Alcoholic' : 'Non Alcoholic' }}</ion-badge>
      <ion-badge *ngIf="drink.category">{{ drink.category }}</ion-badge>
      <ion-badge *ngIf="drink.glass">{{ drink.glass }}</ion-badge>
    </div>
  
    <img class="main-image" [src]="drink.thumbnail">
    
    <ion-list>
      <ion-button expand="block" ion-item *ngFor="let ingredient of drink.ingredients">
        <ion-thumbnail item-left>
          <img [src]="ingredient.thumbnail">
        </ion-thumbnail>
         {{ ingredient.name }} - 
        <span item-end> {{ ingredient.amount }}</span>
      </ion-button>
    </ion-list>

 
  
    <p padding-left padding-right>{{ drink.instructions }}</p>
  </ion-content>