<!-- <ion-split-pane> -->
    <ion-content padding class="master" >
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          MENU
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
              <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath === p.url">
                {{p.title}}
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
    </ion-content>
  </ion-menu>
 <ion-router-outlet id="content" main></ion-router-outlet>

  <ion-header class="theme">
    <ion-toolbar *ngIf="fireAuth.auth.currentUser">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>    
    <ion-title>RazemRazniej</ion-title>
      <ion-buttons slot="end">
          <ion-avatar *ngIf=fireAuth.auth.currentUser.photoURL>
            <ion-img src="{{fireAuth.auth.currentUser.photoURL}}"></ion-img>
          </ion-avatar>
          <ion-avatar *ngIf=!fireAuth.auth.currentUser.photoURL>
              <img src="assets/resources/guest.jpg">
            </ion-avatar>
          <ion-button *ngIf="fireAuth.auth.currentUser" (click)="signOut()">Sign out</ion-button>
        </ion-buttons>   
    </ion-toolbar>
  </ion-header>
  

  
  <div class="ion-padding">
    <h1  *ngIf="!fireAuth.auth.currentUser" style="color:blue;"><b>RazemRazniej</b></h1>
    <p *ngIf="!fireAuth.auth.currentUser"><font size="1">Kiedy wybierasz się ze znajomymi na wycieczkę do innego miasta albo na wieczorny wypad do pubu,
       bardzo łatwo zgubić pozostałych członków grupy. Aby zapobiec takim nieprzyjemnym sytuacjom
        proponujemy użycie aplikacji "RazemRazniej". Aplikacja pokazuje współrzędne pozostałych
         członków grupy, dlatego gdy tylko zbytnio się oddalisz możesz sprawdzić współrzędne 
         pozostałych osób. 
        </font> </p>
  </div>
  <div class="ion-padding">
  <H1 *ngIf="fireAuth.auth.currentUser">Welcome {{fireAuth.auth.currentUser.displayName}}</H1>
  <ion-button *ngIf="fireAuth.auth.currentUser" routerLink="/maps" routerLinkActive="active">Your Location</ion-button>
  <ion-button *ngIf="fireAuth.auth.currentUser" routerLink="/drinks" routerLinkActive="active">Drinks</ion-button>
  <firebase-ui></firebase-ui>
</div>
  
  
</ion-content>

<!-- </ion-split-pane> -->

